@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardPublicFieldsLayout.cshtml";
}

@model ResponseDto<List<MyPasswordDto>>

<div class="row row-sm my-4">
    <div class="col-md-12 col-xl-12">
        <div class="card overflow-hidden review-project">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-title mg-b-10">My Passwords</h4>
                    <i class="mdi mdi-dots-horizontal text-gray"></i>
                </div>

                @*<button type="button" class="btn btn-success btnNewCategory" data-bs-target="#frmNewCategory" data-bs-toggle="modal" data-bs-effect="effect-flip-horizontal">New Category</button>*@

                <div class="d-flex justify-content-between align-items-center">
                    <div class="ml-auto">
                        <button type="button" class="btn btn-success btnNewPassword">New Password</button>
                    </div>
                    <div class="mr-auto">
                        <input type="text" class="form-control txtPasswordSearch" placeholder="Ara...">
                    </div>
                </div>

                <p class="tx-12 text-muted mb-3"></p>
                <div class="table-responsive mb-0">

                    <table id="tblPasswords" class="table table-hover table-bordered mb-0 text-md-nowrap text-lg-nowrap text-xl-nowrap table-striped ">
                        <thead>
                            <tr>
                                <th>Queue</th>
                                <th>Password Name</th>
                                <th>Url</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Category</th>
                                <th>Process</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Data.Count > 0)
                            {
                                int index = 0;
                                foreach (var item in Model.Data)
                                {
                                    <tr>
                                        <td>@(index+1)</td>
                                        <td>@item.NAME</td>
                                        <td>@item.URL</td>
                                        <td>@item.USERNAME</td>
                                        <td>@item.PASSWORD</td>
                                        <td>@item.CATEGORYNAME</td>
                                        <td>
                                            @*<button passwordId="@item.ID" data="@Newtonsoft.Json.JsonConvert.SerializeObject(item)" type="submit" class="btn btn-danger btnUpdate" style="color:white;"><i class="fa fa-edit"></i></button>*@
                                            <button passwordId="@item.ID" type="submit" class="btn btn-danger btnDelete" style="color:white;"><i class="far fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td id="NoData" colspan="7" style="text-align:center; vertical-align:middle;">Kayıt Yok</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal effect-flip-horizontal" id="frmNewPassword">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">New Password</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <form id="frmNewPasswordFormData">
                    <div class="form-group">
                        <label>Password Name</label>
                        <input class="form-control txtPasswordName" name="txtPasswordName" placeholder="Enter password name" type="text">
                    </div>
                    <div class="form-group">
                        <label>URL</label>
                        <input class="form-control txtUrl" name="txtUrl" placeholder="Enter url" type="text">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control select2 cmbNewCategory" name="cmbNewCategory" style="width:100%;">
                            <option value="-1">
                                Seçiniz
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input class="form-control txtUsername" name="txtUsername" placeholder="Enter username" type="text">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control txtPassword" name="txtPassword" placeholder="Enter password" type="text">
                    </div>

                    <div class="form-group">
                        <label>Password Length</label>
                        <div class="input-group">
                            <input class="form-control txtPasswordLength" name="txtPasswordLength" placeholder="Enter password length" value="12" type="text">
                            <button class="btn ripple btn-primary btnGeneratePassword" type="submit">Generate</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn ripple btn-primary btnNewSave" type="submit">Save</button>
                <button class="btn ripple btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal effect-flip-horizontal" id="frmEditPassowrd">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">Edit Password</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <form id="frmEditPasswordFormData">
                    <div class="form-group">
                        <label>Password Name</label>
                        <input class="form-control txtPasswordName" name="txtPasswordName" placeholder="Enter password name" type="text">
                    </div>
                    <div class="form-group">
                        <label>URL</label>
                        <input class="form-control txtUrl" name="txtUrl" placeholder="Enter url" type="text">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select class="form-control select2 cmbCategory" name="cmbCategory" style="width:100%;">
                            <option value="-1">
                                Seçiniz
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input class="form-control txtUsername" name="txtUsername" placeholder="Enter username" type="text">
                    </div>
                    <div class="form-group">
                        <label>User Name</label>
                        <input class="form-control txtPassword" name="txtPassword" placeholder="Enter password" type="text">
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn ripple btn-primary btnEditSave" type="submit">Save</button>
                <button class="btn ripple btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="@Url.Content("~/Scripts/Views/MyPasswords/MyPasswords.js")"></script>