@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardPublicFieldsLayout.cshtml";
}

@model  ResponseDto<List<ProductDto>>

<div class="row row-sm ">
    <div class="col-md-12 col-xl-12">
        <div class="card overflow-hidden review-project">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title mg-b-10">Products</h4>
                    <i class="mdi mdi-dots-horizontal text-gray"></i>
                </div>

                <button type="submit" class="btn btn-success btnNewProduct">New Product</button>

                <p class="tx-12 text-muted mb-3"></p>
                <div class="table-responsive mb-0">
                    <table id="tblProduct" class="table table-hover table-bordered mb-0 text-md-nowrap text-lg-nowrap text-xl-nowrap table-striped ">
                        <thead>
                            <tr>
                                <th>Queue</th>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Created Date</th>
                                <th>Process</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Data.Count > 0)
                            {
                                int index = 0;
                                foreach (var item in Model.Data)
                                {

                                    <tr>
                                        <td>@(index+1)</td>
                                        <td>
                                            <div class="avatar avatar-sm d-none d-sm-flex bg-teal rounded-circle">
                                                <img src="@Url.Content("~/Images/" + item.IMAGEPATH + "?t=" + Guid.NewGuid().ToString())" />
                                            </div>
                                        </td>
                                        <td>
                                            @item.PRODUCTNAME
                                        </td>
                                        <td>@item.CATEGORYNAME</td>
                                        <td>@item.PRICE</td>
                                        <td>@item.CREATEDDATE</td>
                                        <td>
                                            @*<button productid="@item.PRODUCTID" type="submit" class="btn btn-danger btnUpdate" style="color:white;"><i class="fa fa-edit"></i></button>*@
                                            <button productid="@item.PRODUCTID" categoryid="@item.CATEGORYID" type="submit" class="btn btn-danger btnDelete" style="color:white;"><i class="far fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td id="NoData1" colspan="7" style="text-align:center; vertical-align:middle;">Kayıt Yok</td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row row-sm pnlProductProperty" style="display:none;">
    <div class="col-md-12 col-xl-12">
        <div class="card overflow-hidden review-project">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title mg-b-10">Product Property</h4>
                    <i class="mdi mdi-dots-horizontal text-gray"></i>
                </div>

                <button type="button" class="btn btn-success btnNewProperty">New Property</button>

                <p class="tx-12 text-muted mb-3"></p>
                <div class="table-responsive mb-0">
                    <table id="tblProductProperty" class="table table-hover table-bordered mb-0 text-md-nowrap text-lg-nowrap text-xl-nowrap table-striped ">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                                <th>Process</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                    <td>
                                        Tatlı
                                    </td>
                                    <td>İrmik Helvası</td>
                                    <td>
                                        <button type="submit" class="btn btn-danger btnUpdate" style="color:white;"><i class="fa fa-edit"></i></button>
                                        <button type="submit" class="btn btn-danger btnDelete" style="color:white;"><i class="far fa-trash-alt"></i></button>
                                    </td>
                                </tr>*@
                            <tr>
                                <td id="NoData2" colspan="3" style="text-align:center; vertical-align:middle;">Kayıt Yok</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal effect-flip-horizontal" id="frmNewProduct">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-content-demo">
            <div class="modal-header">
                <h6 class="modal-title">New Product</h6><button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <form id="frmNewProductFormData">
                    <div class="form-group">
                        <label>Product Name</label> <input class="form-control txtProductName" name="txtProductName" placeholder="Enter product name" type="text">
                    </div>
                    <div class="form-group">
                        <label>Main Category</label>
                        <select class="form-control select2 cmbMainCategory" name="cmbMainCategory" style="width:100%;">
                            <option label="Seçiniz">
                                Seçiniz
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Sub Category</label>
                        <select class="form-control select2 cmbSubCategory" name="cmbSubCategory" style="width:100%;">
                            <option label="Seçiniz">
                                Seçiniz
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Price</label> <input class="form-control txtPrice" name="txtPrice" placeholder="Enter the price" type="text">
                    </div>
                    <div class="form-group">
                        <label>Photo</label>
                        <input type="file" class="dropify" name="fileNewProductImage" data-height="200" />
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn ripple btn-primary btnProductSave" type="button">Save</button>
                <button class="btn ripple btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<!--- Product.js --->
<script src="@Url.Content("~/Scripts/Views/Product/Product.js")"></script>

<!--- Fileuploads js --->
<script src="@Url.Content("~/Scripts/Azira/assets/plugins/fileuploads/js/fileupload.js")"></script>
<script src="@Url.Content("~/Scripts/Azira/assets/plugins/fileuploads/js/file-upload.js")"></script>


<!--- Fancy uploader js --->
<script src="@Url.Content("~/Scripts/Azira/assets/plugins/fancyuploder/jquery.ui.widget.js")"></script>
<script src="@Url.Content("~/Scripts/Azira/assets/plugins/fancyuploder/jquery.fileupload.js")"></script>
<script src="@Url.Content("~/Scripts/Azira/assets/plugins/fancyuploder/jquery.iframe-transport.js")"></script>
<script src="@Url.Content("~/Scripts/Azira/assets/plugins/fancyuploder/jquery.fancy-fileupload.js")"></script>
<script src="@Url.Content("~/Scripts/Azira/assets/plugins/fancyuploder/fancy-uploader.js")"></script>

<!--- Select2 js --->
<script src="@Url.Content("~/Scripts/Azira/assets/plugins/select2/js/select2.min.js")"></script>